In [2]:
# Heroes of Pymoli

In [5]:
import csv as csv
import pandas as pd
import numpy as np

In [7]:
purchase_data_df = pd.read_csv("../Resources/purchase_data.csv")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [492]:
#Player Count

accounts = purchase_data_df["SN"].value_counts()
accounts = len(accounts)
accounts_df = pd.DataFrame({"Total Players":[accounts]})
accounts_df

   Total Players
0            576

In [12]:
#Purchasing Analysis (Total)
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

num_unique_items = len(purchase_data_df["Item ID"].unique())
avg_purch_price = purchase_data_df["Price"].mean()
total_purch = purchase_data_df["Price"].count()
total_revenue = purchase_data_df["Price"].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[num_unique_items], "Average Price":[avg_purch_price], "Number of Purchases":[total_purch], "Total Revenue":[total_revenue]})

format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue': '${0:,.2f}'}
purchasing_analysis.style.format(format_dict)

In [29]:
#Gender demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

SN_gender = purchase_data_df[["SN", "Gender"]]

SN_Gender = SN_gender.drop_duplicates(subset = "SN", keep = "last")
SN_Gender = SN_Gender.reset_index(drop=True)
total_count = SN_Gender["Gender"].value_counts()
total_count_df = pd.DataFrame(total_count)

total_count_df["Percentage of Players"] = total_count_df.apply(lambda a: a/accounts*100)
total_count_df = total_count_df.rename(columns={"Gender":"Total Count"})
format_pct = {"Percentage of Players":"{0:,.2f}%"}
total_count_df.style.format(format_pct)

In [52]:
#Purchasing analysis (Gender)

gender_test = purchase_data_df.groupby("Gender")["Price"]

gender_sum = gender_test.sum()
gender_mean = gender_test.mean()
gender_count = gender_test.count()
avg_pp = gender_sum/total_count

gender_DF = pd.DataFrame({"Purchase Count":gender_count, "Average Purchase Price":gender_mean, "Total Purchase Value":gender_sum, "Avg Total Purchase per Person":avg_pp})
formatS = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value': '${0:,.2f}', 'Avg Total Purchase per Person': '${0:,.2f}'}
gender_DF.style.format(formatS)

In [146]:
#Age Demographics (Count and Pct)

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df = purchase_data_df.groupby("SN")

age_df = pd.DataFrame(age_df["Age"].unique())
age_df["Age Bracket"] = pd.cut(age_df["Age"], age_bins, labels=age_names, include_lowest=True)
age_df = age_df.groupby("Age Bracket")
age_df = pd.DataFrame(age_df.count())
age_df["Percentage of Players"] = age_df.apply(lambda a: a/accounts*100)
age_df = age_df.rename(columns={"Age":"Total Count"})
age_df.style.format(format_pct)

In [190]:
#Purchasing Analysis (Age)
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

age_purch = purchase_data_df
age_purch["Age Bracket"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_names, include_lowest=True)
age_purch_gb = age_purch.groupby("Age Bracket")["Price"]

age_purch_count = age_purch_gb.count()
age_purch_avg = age_purch_gb.mean()
age_purch_total = age_purch_gb.sum()

age_purch_gb = age_purch.groupby("Age Bracket")["SN"]
age_unique = age_purch_gb.nunique()
age_purch_avgpp = age_purch_total/age_unique
age_purch_avgpp

age_purch_DF = pd.DataFrame({"Purchase Count":age_purch_count, "Average Purchase Price":age_purch_avg, "Total Purchase Value":age_purch_total, "Avg Total Purchase per Person":age_purch_avgpp})
age_purch_DF.style.format(formatS)

In [310]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

spender = purchase_data_df.groupby("SN")

spender_df_count = pd.DataFrame(spender["Price"].count())
spender_df_count = spender_df_count.rename(columns={"Price":"Purchase Count"})

spender_df_total = pd.DataFrame(spender["Price"].sum())

spender_df = spender_df_count.merge(spender_df_total, on="SN")
spender_df_max = spender_df.sort_values("Price", ascending=False).head()
spender_df_max["Average Purchase Price"] = spender_df_max["Price"]/spender_df_max["Purchase Count"]

formatSP = {'Average Purchase Price':'${0:,.2f}', 'Price':'${0:,.2f}'}
spender_df_max.style.format(formatSP)

In [487]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

pop_item = purchase_data_df[["Item ID", "Item Name", "Price"]]

pop_item_gb = pop_item.groupby(["Item ID", "Item Name"])

pop_item_mean = pop_item_gb.mean()
pop_item_mean_df = pd.DataFrame(pop_item_mean)
pop_item_count = pop_item_gb.count()
pop_item_count_df = pd.DataFrame(pop_item_count)
pop_item_total = pop_item_gb.sum()
pop_item_total_df = pd.DataFrame(pop_item_total)

pop_item_merge = pop_item_count_df.merge(pop_item_mean_df, on=["Item ID", "Item Name"])
pop_item_merge = pop_item_merge.merge(pop_item_total_df, on=["Item ID", "Item Name"])
pop_item_merge = pop_item_merge.rename(columns={"Price_x":"Purchase Count", "Price_y": "Item Price", "Price":"Total Purchase Value",})
pop_item_merge = pop_item_merge.sort_values("Purchase Count", ascending=False)

formatSP = {'Total Purchase Value':'${0:,.2f}', 'Item Price':'${0:,.2f}'}
pop_item_merge_final = pop_item_merge.head()
pop_item_merge_final.style.format(formatSP)

In [491]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value
most_prof= pop_item_merge.sort_values("Total Purchase Value", ascending=False)

formatSP = {'Total Purchase Value':'${0:,.2f}', 'Item Price':'${0:,.2f}'}
most_prof = most_prof.head()
most_prof.style.format(formatSP)

In [ ]:
#Observations
#  1. Players aged between 20 and 24 years old spend the most on items by a large amount, containing almost 50% of the player base
#  2. Males make up a distinct majority of the playerbase
#  3. The Final Critic item is both very popular and profitable, indicating that it may give the player the bets in-game experience